user-data/Backups/
user-data/Cache/
user-data/CachedData/
user-data/CachedExtensions/
user-data/Code\ Cache/
user-data/GPUCache/
user-data/logs/

user-data/Cookies
user-data/Cookies-journal
user-data/User/globalStorage
user-data/User/workspaceStorage

user-data/machineid
user-data/Network Persistent State
user-data/storage.json
user-data/rapid_render.json

__pycache__